*{
    margin:0;
    padding: 0;
}
body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    


}
.naviga{
    position: fixed;
    width: 100%;
    z-index: 1;
    
}